/*
  ========================================
  HTML Styles
  ========================================
*/


.animated_scale {
  transform: scale(1.1);
}

.animated_bold {
  font-weight: bold;
}

.animated_atag {
  border-bottom: 3px solid blue;
}

